<!doctype html>
<html>
    <head>
        <title>AnguDraw 1.0</title>
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="script/vendor/fabric.min.js"></script>
        <script src="script/angudraw.js"></script>
        <link src="styles.css" />
    </head>    
    <body ng-app="AnguDraw">
        <div ng-controller="Main.Controller as ctrl">
        <canvas 
            id="myCanvas" 
            width="500" 
            height="500" 
            style="border:1px solid #000000;">
        </canvas>
        <button ng-click="ctrl.AddNewRectangle()">Add a Rectangle</button>
        <button ng-click="ctrl.AddNewCircle()">Add a Circle</button>
        
        <div class="palleteBox" style="background-color: blue;" ng-click="ctrl.SetColour('blue')"> &nbsp; </div>
        <div class="paletteBox" style="background-color: red;" ng-click="ctrl.SetColour('red')"> &nbsp; </div>
        <div class="paletteBox" style="background-color: green;" ng-click="ctrl.SetColour('green')"> &nbsp; </div>
        
        Current colour: <div style="width: 30px; height: 30px; background-color: {{ctrl.CurrentSelectedColour}}"> &nbsp; </div>
        
        <button ng-click="ctrl.SaveItems()">Save!</button>
        <button ng-click="ctrl.ClearAllItems()">Clear!</button>
        <button ng-click="ctrl.ReloadSavedItems()">Reload!</button>
        <button ng-click="ctrl.ToggleDrawingMode()">Free Draw ({{ctrl.canvas.isDrawingMode}})!</button>
        
        </div>
        
    </body>
</html>